* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Cabeçalho e Navegação*/
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

h1, h2, h3, h4 {
    margin-bottom: 20px;
    font-weight: 700;
}

nav ul {
    list-style-type: none;

}

nav ul li {
    display: inline;
    margin-right: 25px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: yellow;
    text-decoration: underline;
}

/* Conteúdo Principal */

main {
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
}

section {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
}

p {
    margin-bottom: 15px;
    padding: 10px;
}

pre {
    background-color: #eaeaea;
    border: 2px solid #ddd;
    padding: 10px;
    border-radius: 4px;
}

li {
    margin: 20px;
}

.card {
    background-color: black;

}